.cards-grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-trip {
  height:400px;
  width: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-grow: 1;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.review {
  width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.review .review-content {
  flex-grow: 1;
  padding: 0 24px;
}

.review p {
  margin: 0;
  line-height: 1.4;
}


@media(max-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
